# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.exe binary
*.dll binary

# Linguist Language Overrides & Exclusions
publish/** linguist-vendored
publish/** linguist-generated
assets/** linguist-vendored
scripts/** linguist-vendored
docs/** linguist-documentation
*.md linguist-documentation
*.ps1 linguist-vendored
*.sh linguist-vendored
*.json linguist-vendored
*.yml linguist-vendored
*.config linguist-vendored

# Detect explicit web languages
*.cs linguist-detectable=true
*.cshtml linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
*.mysql linguist-detectable=true
*.mysql linguist-language=MySQL
